
{% include "header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--this link is to use for online  incons uses -->
    

    <title>Even/Odd Checker</title>
</head>
<body>
    <h1>Even/Odd Checker</h1>
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <p style="color: rgb(165, 27, 27);">Please enter a number.</p>
        {% endif %}
        <label for="num1">Enter a number:</label>
        <input type="text" name="num1">
        <button type="submit">Check</button>
    </form>
    {% if result %}
        <p>The number is {{ result }}</p>
    {% endif %}


</body>
</html>


